:root {
    --black: #000000;
    --white: #ffffff;
    --description: #3E3E3E;
    --borderColor: #E3E3E3;
    --regularFont: 'SWCC-Medium'!important;
    --transition: all .3s ease-in-out;
}
@font-face {
    font-family: 'SWCC-Medium';
    src: url('https://cdn.jsdelivr.net/gh/julianogharzeddine/CustomFiles@main/SWCC-3-Medium.otf') format('opentype');
    /* Adjust the path and font format */
}
html:not(.designer) #custom-sticky-header .SFC.SourceCode-Forms-Controls-Web-Table.Grid-Layout.root-table{
	display:flex;
	align-items:center;
	justify-content:flex-end;
}
html:not(.designer) .theme-entry .form,
html:not(.designer) .tab-box-body {
	background-color:transparent!important;
}
html:not(.designer) [name*="sectionTitle"]{
	color:var(--black);
	font-family:var(--regularFont);
	position:relative;
	overflow:visible;
	font-size:2rem;
	font-weight: 600;
}
html:not(.designer) [name*=s_collapse] .panel-body .SourceCode-Forms-Controls-Web-Table.Grid-Layout span{
	overflow:visible!important;
}
html:not(.designer) .theme-entry .input-control.select-box:not(.hide-buttons) .input-control-m-c{
	border:none!important;
}
html:not(.designer) [name*="sectionTitle"]::before{
	content:"";
	left:-2rem;
	top:0;
	position:absolute;
	background-color:var(--main-color);
	width:.5rem;
	height:100%;
}
html:not(.designer)[dir="ltr"] .Grid-Layout>.editor-cell[name="Arabic Lang langBtn"]{
	display:flex!important;
	align-items:center!important;
	border:1px solid var(--borderColor)!important;
	border-radius:2rem!important;
	width: fit-content!important;
	height: unset!important;
	min-height: unset!important;
	line-height: unset!important;
	padding: 0.1rem 2.2rem;
}
html:not(.designer)[dir="rtl"] .Grid-Layout>.editor-cell[name="English Lang langBtn"]{
	display:flex!important;
	align-items:center!important;
	border:1px solid var(--borderColor)!important;
	border-radius:2rem!important;
	width: fit-content!important;
	height: unset!important;
	min-height: unset!important;
	line-height: unset!important;
	padding: 0.1rem 2.2rem;
}
html:not(.designer) #custom-sticky-header  .input-control.select-box.dropdown-box{
	width: 12rem!important;
	
}
html:not(.designer) [name="User NameData Label"]{
	font-size:1rem;
	color:var(--black);
	line-height:unset!important;
	height:unset!important;
	min-height:unset!important;
	padding:0!important;
}
html:not(.designer) #custom-sticky-header  .input-control.select-box.dropdown-box .input-control-m-c,
html:not(.designer) .theme-entry .input-control.select-box .input-control-buttons{
	background-color:transparent!important;
	border:none!important;
	height:unset!important;
	min-height:unset!important;
	line-height:unset!important;
}
span#\32 790f934-27a3-40e6-8904-81dfb783825e,
span#\37 9297435-28f8-a312-16cd-abc9b001de55{
    width: fit-content;
    padding: 0;
}
html[dir="ltr"]:not(.designer) span#\37 9297435-28f8-a312-16cd-abc9b001de55{
    margin-right:1rem;
}
html[dir="rtl"]:not(.designer) span#\37 9297435-28f8-a312-16cd-abc9b001de55{
    margin-left:1rem;
}
html:not(.designer) div#\31 4756d3d-ed02-ec11-0620-96035132bc28_7ac149f4-2d55-4eaf-b1c8-88d73fcaf841_Table{
    display:flex;
    align-items:center!important;
    justify-content:flex-end;
}
html:not(.designer) [name="ProfileTable"]{
	display:flex;
	align-items:center!important;
}
html:not(.designer) [name*="CustomerDp"]{
	padding:0!important;
	height:unset!important;
	min-height:unset!important;
	line-height:unset!important;
}
div#\31 4756d3d-ed02-ec11-0620-96035132bc28_4032c4ee-e5fe-839f-5c33-0aea6b5e0031_Table{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}
html:not(.designer) [name*="fit-content"]{
	width: fit-content!important;
}
html:not(.designer) #custom-sticky-header  .input-control.select-box.dropdown-box.watermark .styling-font{
	font-size:.85rem;
	padding:0!important;
	height: unset!important;
	min-height: unset!important;
	line-height: unset!important;
}
html:not(.designer) [name="profileContainer"]{
	border:1px solid var(--borderColor);
	border-radius:2rem;
	padding: 0.6rem 1rem 0rem;
	width:fit-content;
}
html:not(.designer) .Grid-Layout>.editor-cell[name="English Lang langBtn"]{
	display:none!important;
}
[name="ar ToolBar Button"]{
	padding:0!important;
	margin:0!important;
}
[name="ar ToolBar Button"] .button-text{
	line-height:unset!important;
	height:unset!important;
	min-height:unset!important;
	font-family:var(--regularFont)!important;
}
html:not(.designer){
    font-size:14px!important;
}
html:not(.designer) body{
    padding: 1rem;
    font-family: var(--regularFont);
    background-color: #F5F5F5;
    left: 17rem;
    width: calc(100% - 17rem);
    position: relative;
    padding-top: 9rem;
}
html:not(.designer) body::before{
	content:"";
	position: fixed;
	top:0;
	left:0;
	background-color:var(--main-color);
	height: 0.6rem;
	width:100%;
	z-index: 99;
}
.theme-entry a.toolbar-button {
	padding:0!important;
}
html:not(.designer) #custom-sticky-header{
	background-color:#FFFFFF;
	position: fixed;
	top: 0;
	left:16.97rem;
	width:calc(100% - 18.8rem);
	z-index: 2;
	height: 6rem;
	padding: 0 1rem!important;
	display: flex!important;
	align-items: center!important;
	justify-content: space-between;
	padding-top:1rem!important;
	padding-bottom:1rem!important;
}
html:not(.designer)[dir="ltr"] #custom-sticky-header{
	border-left:1px solid var(--borderColor);
}
html:not(.designer)[dir="rtl"] #custom-sticky-header{
	border-right:1px solid var(--borderColor);
}
/* MARGINS START */
html:not(.designer) [name*="m-t1"] {
    margin-top: 1rem;
}

html:not(.designer) [name*="m-t2"] {
    margin-top: 2rem;
}

html:not(.designer) [name*="m-t3"] {
    margin-top: 3rem;
}

html:not(.designer) [name*="m-t4"] {
    margin-top: 4rem;
}

html:not(.designer) [name*="m-b1"] {
    margin-bottom: 1rem;
}

html:not(.designer) [name*="m-b2"] {
    margin-bottom: 2rem;
}

html:not(.designer) [name*="m-b3"] {
    margin-bottom: 3rem
}

html:not(.designer) [name*="m-b4"] {
    margin-bottom: 4rem;
}

html:not(.designer) [name*="m-l1"] {
    margin-left: 1rem;
}

html:not(.designer) [name*="m-l2"] {
    margin-left: 2rem;
}

html:not(.designer) [name*="m-l3"] {
    margin-left: 3rem;
}

html:not(.designer) [name*="m-l4"] {
    margin-left: 4rem;
}

html:not(.designer) [name*="m-r1"] {
    margin-right: 1rem;
}

html:not(.designer) [name*="m-r2"] {
    margin-right: 2rem;
}

html:not(.designer) [name*="m-r3"] {
    margin-right: 3rem;
}

html:not(.designer) [name*="m-r4"] {
    margin-right: 4rem;
}

/* MARGINS END */
/* PADDINGS START */
html:not(.designer) [name*="pt-1"] {
    padding-top: 1rem !important;
}

html:not(.designer) [name*="pt-2"] {
    padding-top: 2rem !important;
}

html:not(.designer) [name*="pt-3"] {
    padding-top: 3rem !important;
}

html:not(.designer) [name*="pt-4"] {
    padding-top: 4rem !important;
}

html:not(.designer) [name*="pb-1"] {
    padding-bottom: 1rem !important;
}

html:not(.designer) [name*="pb-2"] {
    padding-bottom: 2rem !important;
}

html:not(.designer) [name*="pb-3"] {
    padding-bottom: 3rem !important;
}

html:not(.designer) [name*="pb-4"] {
    padding-bottom: 4rem !important;
}

html:not(.designer) [name*="pl-1"] {
    padding-left: 1rem !important;
}

html:not(.designer) [name*="pl-2"] {
    padding-left: 2rem !important;
}

html:not(.designer) [name*="pl-3"] {
    padding-left: 3rem !important;
}

html:not(.designer) [name*="pl-4"] {
    padding-left: 4rem !important;
}

html:not(.designer) [name*="pr-1"] {
    padding-right: 1rem !important;
}

html:not(.designer) [name*="pr-2"] {
    padding-right: 2rem !important;
}

html:not(.designer) [name*="pr-3"] {
    padding-right: 3rem !important;
}

html:not(.designer) [name*="pr-4"] {
    padding-right: 4rem !important;
}

/* PADDINGS END */
/* DISPLAYS START */
html:not(.designer) [name*="d-flex"] {
    display: flex !important;
}

html:not(.designer) [name*="d-block"] {
    display: block !important;
}

html:not(.designer) [name*="d-none"] {
    display: none !important;
}

html:not(.designer) [name*="d-inline"] {
    display: inline !important;
}

/* DISPLAYS END */
span#\39 cd5008a-6bdf-0895-3969-eede9870ea87 {
    padding: 0!important;
    height: 0.9rem!important;
    line-height: 1.1rem;
}

#custom-sticky-header .styling-outer-wrapper,
#custom-sticky-header div#\31 4756d3d-ed02-ec11-0620-96035132bc28_15ccbd69-ae2c-b0ab-0492-fa1ebd03113e,
#custom-sticky-header [name="CustomerDp "],
#custom-sticky-header .input-control.select-box .input-control-m{
    height: unset!important;
    line-height: unset!important;
    min-height: unset!important;
}
#custom-sticky-header .styling-outer-wrapper,
#custom-sticky-header div#\31 4756d3d-ed02-ec11-0620-96035132bc28_15ccbd69-ae2c-b0ab-0492-fa1ebd03113e,
#custom-sticky-header .input-control.select-box .input-control-m{
    height: 1rem!important;
}
div#\31 4756d3d-ed02-ec11-0620-96035132bc28_15ccbd69-ae2c-b0ab-0492-fa1ebd03113e {}

.input-control-body.styling-left.styling-inner-wrapper {
    height: 0.6rem;
}
html:not(.designer) [name*="s_textbox"],
html:not(.designer) .filterTxt .input-control-m-c,
html:not(.designer) .filterTxt input,
html:not(.designer) .form-field-element-wrapper .input-control.select-box.lookup-box{
    border: 1px solid var(--borderColor) !important;
    font-size: 1rem !important;
    border-radius: .5rem !important;
    padding: .4rem 1rem !important;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: var(--regularFont) !important;
    width: 100%;
    min-height: 3rem !important;
    height: 3rem !important;
}

html:not(.designer) [name*="s_dropdown"] .select-box,
html:not(.designer) .select-box[name*="s_calendar"],
html:not(.designer) .input-control.select-box.lookup-box.picker-input.double-buttons,
.searchDdl .select-box{
    border:1px solid var(--borderColor)!important;
    border-radius:.5rem!important;
    height:2.9rem;
    min-height:2.9rem;
    overflow: hidden;
}

html:not(.designer) [name*="s_label"] {
     color:var(--black)!important;
    font-size:1rem!important;
    font-family: var(--regularFont);
}

html:not(.designer) [name*="s_textarea"] {
    border:1px solid var(--borderColor)!important;
    font-size:1rem!important;
    border-radius: .5rem!important;
    padding: .4rem 1rem!important;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: var(--regularFont)!important;
    width: 100%;
	min-height: 3rem;
}
html:not(.designer) [name*="OBB_dropdown"] .select-box .input-control-m-c,
html:not(.designer) [name*="OBB_dropdown"] .select-box  .input-control-buttons,
html:not(.designer) .select-box[name*="OBB_calendar"] .input-control-m-c,
html:not(.designer) .select-box[name*="OBB_calendar"]  .input-control-buttons,
.input-control.select-box.lookup-box.picker-input.double-buttons .input-control-m-c,
.input-control.select-box.lookup-box.picker-input.double-buttons .input-control-buttons,
.searchDdl .select-box .input-control-m-c,
.searchDdl .select-box .input-control-buttons{
    border:none!important;
}
html:not(.designer) .select-box[name*="OBB_calendar"] *,
[name*="OBB_textbox"],[name*="OBB_textarea"] ,textarea,
.input-control-watermark,
[name*="OBB_dropdown"] *{
	font-family:var(--regularFont);
	font-size:1rem!important;
	
}
html:not(.designer) .input-control.text-input .input-control-m-c{
	border:none!important;
}
.quickSearch.filter .toolbar-button.toolbar-button-inline.style-aware.refresh{
	position:absolute;
	right:1.5rem;
	top: 0.4rem;
	height: 3rem;
	display: flex;
	align-items:center;
	justify-content:center;
}
.quickSearch.filter{
	position:relative;
}
html:not(.designer) [name*="s_attachment"] {}

html:not(.designer) [name*="s_button"] {}

html:not(.designer) [name*="s_radioGroup"] {}

html:not(.designer) [name*="s_asterik"] {}

html:not(.designer) [name*="s_collapse"] {
    border:1px solid #E8E8E8!important;
    border-radius:1rem!important;
    overflow:hidden;
    margin-bottom: 1rem;
    padding: 1rem;
	width: calc(100% - 2rem)!important;
}
html:not(.designer) [name*="s_collapse"] .panel-header .panel-header-c .panel-header-wrapper,
html:not(.designer) [name*="s_collapse"] .grid-header  .grid-header-wrapper{
	border-bottom:1px solid #E8E8E8;
}
html:not(.designer) [name*="s_collapse"] .panel-header{
	height: 5rem;
	background-color:transparent;
}
html:not(.designer) [name*="s_collapse"] .panel-header .panel-header-c .panel-header-wrapper,
html:not(.designer) [name*="s_collapse"] .grid-header  .grid-header-wrapper{
	padding:1rem 2rem;
	background-color: var(--aqua);
	width: calc(100% - 4rem);
	height:100%;
}
html:not(.designer) [name*="s_collapse"] .panel-header .panel-header-c .panel-header-wrapper .panel-header-text,
html:not(.designer) [name*="s_collapse"] .grid-header  .grid-header-wrapper .grid-header-text{
	font-size: 1.6rem;
	font-family:var(--regularFont);
	padding: 0;
	height: unset;
	min-height: unset;
}
html:not(.designer) [name*="s_collapse"] .panel-header .panel-header-c .panel-header-wrapper .panel-header-text > span,
html:not(.designer) [name*="s_collapse"] .grid-header  .grid-header-wrapper .grid-header-text> span{
	min-height: 3rem;
	color: #ffffff;
}
html:not(.designer) [name*="s_collapse"] .panel-body{
	padding: 1rem 2rem;
}
html:not(.designer) [name*="s_calendar"] {}

html:not(.designer) [name*="s_checkbox"] {}

html:not(.designer) [name*="s_link"] {}
/* SIDEBAR */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 13rem;
	padding: 2rem;
	z-index: 1;
	height: 100vh;
	background-image: url("https://ns.namaservices.om/Style/sidebarPattern.png");
	background-size: cover;
	background-position: bottom;
	background-color: white;
	background-repeat: no-repeat;
}
html[dir="ltr"] .sidebar{
	border-right:1px solid var(--borderColor);
}
html[dir="rtl"] .sidebar{
	border-left:1px solid var(--borderColor);
}
.sidebar .sidebar-link{
	display:flex;
	align-items:center;
	margin-bottom:1rem;
	text-decoration:none;
}
.sidebar .sidebar-link img{
height:1.4rem;
width:1.4rem;
}
html[dir="ltr"] .sidebar .sidebar-link span{
	font-size:1rem;
	text-decoration:none;
}
html[dir="ltr"] .sidebar .sidebar-link img{
	margin-right:.5rem;
}
html[dir="rtl"] .sidebar .sidebar-link img{
	margin-lefy:.5rem;
}
html:not(.designer)[dir="ltr"] .sidebar{
	transform:translateX(-100%);
}
html:not(.designer)[dir="rtl"] .sidebar{
	transform:translateX(100%);
}
.sidebar-logo-container a{
    width: 11rem;
    display: block;
    margin: auto; 
    cursor: pointer!important;
}
.sidebar-logo-container a img{
	height:100%;
	width:100%;
	object-fit:contain;
}
.sidebar .sidebar-link{
    display: flex;
    align-items: center;
}
.sidebar .sidebar-link span{
    font-size: 1rem;
    color: #8F8F8F;
    transition: var(--transition);
}
/*
*/
html:not(.designer) .worklistToolbarHeaderTextWrapper .headerTxt{
	font-size:1.5rem;
	font-family: var(--regularFont);
}
html:not(.designer) .filterContainer{
	display: flex;
	justify-content: space-between;
}
html:not(.designer) [name*="UserName"]{
	font-family:var(--regularFont);
}
html:not(.designer) .filterChosen.filter{
	display: none!important;
}
html:not(.designer) .quickSearch.filter .filterLabel{
	position:relative;
	display:none;
}
html:not(.designer) .quickSearch.filter::before{
	content:"Search by:";
	position:relative;
	left:0;
	width:fit-content;
	color:#131313;
	font-size:1rem;
	font-family:var(--regularFont)!important;
}
html:not(.designer) .filterTxt{
	width: 21rem!important;
}
html:not(.designer) .filterTxt .input-control-wrapper{
	width:100%!important;
}
html:not(.designer) .quickSearch.filter .toolbar-button.toolbar-button-inline.style-aware.refresh{
	position:absolute;
	right: 0.9rem;
	top: 50%;
	transform: translateY(-50%);
	height: 3rem;
	display: flex;
	align-items:center;
	justify-content:center;
	background-color: transparent!important;
	border: none!important;
}
html:not(.designer) .quickSearch.filter{
	position:relative;
}
html:not(.designer) .SourceCode-Forms-Controls-Web-Button{
	border-radius:.5rem;
	border:none;
	transition:var(--transition);
	font-family:var(--regularFont);
	background-color:var(--main-color);
	padding:.4rem 1rem!important;
	color:white;
}
/* TABLE BRANDING START */
html:not(.designer) .theme-entry .grid .grid-column-header-cell{
	padding: 0;
	width: 100%!important;
}
html:not(.designer) .theme-entry .grid table.grid-content-table.zebra-stripes tr{
	background-color: transparent;
	padding:1rem 0!important;
}
html:not(.designer) .theme-entry .grid table.grid-content-table.zebra-stripes tr:nth-child(even){
	background-color:#F9F9FB!important;
}
html:not(.designer) .grid-body{
	margin: 1rem!important;
	width: calc(100% - 2rem);
	border: 1px solid rgb(220 220 220 / 80%)!important;
	border-radius: .7rem;
}
/* TABLE BRANDING END */
/* DASHBOARD START */
[name="LCTS.EservicesHub.Form Area Item"]{
	background-color: transparent!important;
}
.view:not(:has(h4[name="User NameData Label"])) .editor-cell.droptarget:has(img[name*="card-icon"]) {
    height: 12rem;
    width: 21rem;
    margin: 1rem;
    box-shadow: none;
    background-color: white;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    align-content: center;
    transition: all .3s ease-in-out;
    padding: 0;
    margin: 0 auto !important;
}
.view:not(:has(h4[name="User NameData Label"])) .editor-cell.droptarget .picture-control-inline {
    width: 5rem !important;
    margin-bottom: .7rem;
    outline: none;
    border: none;
}
.view:not(:has(h4[name="User NameData Label"])) .editor-cell.droptarget:has(img[name*="card-icon"]) .SFC.SourceCode-Forms-Controls-Web-Label {
    font-size: 1rem;
    text-wrap: auto;
    text-align: center;
}
/* DASHBOARD END */
@media(min-width:992px){
	.sidebar {
	transform:translateX(0%)!important;
}
}